In [2]:
for i in range(0,10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [7]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [6]:
cars = ["honda","BMW","Audi","Toyata"]
squares = [x for x in cars if "a" in x]
print(squares)

['honda', 'Toyata']

In [8]:
List = [character for character in 'Aditya Rajevan']
print (List)

['A', 'd', 'i', 't', 'y', 'a', ' ', 'R', 'a', 'j', 'e', 'v', 'a', 'n']

In [11]:
#Determine the Viscosity
dy= float(input('enter the value of disctance of a plate from a fixed plate'))
du= float(input('enter the value of speed'))
f=  float(input('enter the value of force'))
u= f*(dy/du)
print ("Viscosity of the fluid is",u)

enter the value of disctance of a plate from a fixed plate25
enter the value of speed35
enter the value of force3
Viscosity of the fluid is 2.142857142857143